{{page-title "Item"}}
<GeneralContainer>
	<div class="product item-details">
		<Product::Image />
		<Product::Details />
	</div>
	<h5 class="mt-5">Featurs</h5>
	<ol>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
		<li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et alias placeat possimus corrupti assumenda vero
			maxime unde quod quisquam suscipi</li>
	</ol>
</GeneralContainer>
{{outlet}}